/For test purposes/
/Chapter #3 (Тестовые фреймворки)/Lesson #6 (PyTest - параметризация, конфигурирование, плагины)/result.txt
/Chapter #3 (Тестовые фреймворки)/Lesson #6 (PyTest - параметризация, конфигурирование, плагины)/Step #5 (Параметризация тестов).py
/Chapter #3 (Тестовые фреймворки)/Lesson #6 (PyTest - параметризация, конфигурирование, плагины)/geckodriver.log
